<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class List: Create</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form action="api/edit" method="post">
            <div>
                <label for="studentName">Enter The Student's ID:</label>
                <input type="text" id="student" name="student_id">
                <input type="text" id="student" name="new_name">
            </div>
                <div class="button">
                <button type="submit">Edit</button>
            </div>
        </form>
    </body>
</html>